@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
.d-flex-center{
    justify-content: center;
    align-items: center;
}
header {
    height: 400px;
    /*background: url(http://i.huffpost.com/gen/1501366/images/o-HAIRSTYLIST-facebook.jpg) no-repeat fixed center center/cover;*/
    /*margin bottom height of navbar*/
    background: #000;
    margin-bottom: 56px;
}

header .container{
    height: 100%;
}

header .header-holder{
    font-family: 'Playfair Display', serif;
    text-align: center;
}

header .header-holder h1{
    color: #fff;
    font-size: 59px;
    text-transform: uppercase;
    text-shadow: 2px 1px 1px black;
}

header .header-holder span{
    font-size: 25px;
    color: red;
    text-transform: uppercase;
    letter-spacing: 20px;
    text-shadow: 1px 1px 1px black;
}
header .header-holder button{
    border: 1px solid #8a8888;
    color: #8a8888;
    border-radius: 0;
    margin-top: 20px;
    letter-spacing: 6px;
    font-size: 13px;
    font-weight: bold;
}
.gray{
    background: #F5F5F5;
}
.white{
    background-color: #fff;
}
/*sections*/
.section{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    min-height: 400px;
}


/*Tarieven sectie*/

.tarieven table{
    background: #fff;
    margin-bottom: 1.25rem;
    border: solid 1px #ddd;
    table-layout: auto;
    width: 100%;
}
.tarieven ul li{
    list-style: none;
}
.tarieven table tr td{
    padding: 10px;
}
/*Zebra coloring for table*/
.tarieven table tr:nth-child(odd) {
    background: #F9F9F9;
}

.tarieven ul li{
    font-size: 25px;
}

/*review sectie*/
.review h3.review-title{
    font-size: 25px;
}

.review .carousel-inner{
    width: 75%;
    margin: 0 auto;
}
.review a.carousel-control-prev{
    opacity: 1;
}

.review .star-container{
    text-align: center;
    margin-top: 25px;
}

.review .star{
    font-size: 30px;
}

.review .all-stars{
    position: relative;
    display: inline-block;
}
.review .rating-stars{
    position: absolute;
    top: 0;
}
.carousel-control i{
    color: #000;
    font-size: 35px;
}

/*twitter sectie*/
.twitter{
    background: #75D0F9;
    color: #fff;
    padding-top: 0;
    padding-right: 0;
    height: 475px;
}
.twitter h2{
    text-align: center;
    padding-top: 15px;
}
.twitter .left{
    width: 50%;
    float: left;
}
.twitter .right{
    width: 50%;
    float: left;
    background-color: #90D9FA;
    height: 475px;
}
.twitter .tweets{

    text-align: left;
    max-width: 438px;
    width: 100%;
    float: right;
    overflow: auto;
}
.twitter .twitter-cta{
    width: 100%;
    height: 100%;
}
.twitter .twitter-cta i{
    font-size: 160px;
    display: block;
    transition: .2s;
}
.twitter .twitter-cta a{
    color: #fff;
    text-align: center;
}
.twitter .twitter-cta a:hover{
    text-decoration: unset;
    color: #fff;
    transition: .2s;
}
.twitter .twitter-cta a:hover i{
    margin-top: 5px;
    margin-bottom: 5px;
    transition: .2s;
}
.twitter .twitter-cta h3{
    display: block;
}
.twitter .tweet{
    margin-bottom: 15px;
}
.twitter .tweet .tweet-user{
    font-weight: 500;
    color: #fff;
}
.twitter .tweet .tweet-user a{
    color: #fff;
    font-size: 18px;
}
.twitter .tweet .tweet-user span{
    font-weight: 500;
    font-size: 13px;
    color: #ffffff9c;
}


.twitter .tweet .tweet-text{
    font-size: 15px;
}

.twitter .tweet .tweet-date{
    font-size: 11px;
}


/*kapsel sectie*/
.image-grid .grid-item{
    display: inline-block;
    width: 20%;
}